$prime-color: #F55D54;
$border-color: #E0E0E0;
$link-color: #7D8695;
$muted-color: #7D8695;
$text-color: #27364E;
$error-color: #F55D54;
$info-color: #276f86;

$red-color: #B03060;
$blue-color: #0E6EB8;
$grey-color: #F8F8F9;

$root-font-size: 16px;