@import '../variables';
@import '../mixins';

.intro-admin_tours .intro-admin__box {
  margin: 8em auto 0 auto;
  width: 60em;
}

.intro-admin_tours .intro-admin__box-header {
  @include flex;
  @include flex-align-center;
  @include flex-pack-justify;

  margin-bottom: 1.5em;
  padding-bottom: .6em;
  border-bottom: 1px solid $border-color;
}

.intro-admin_tours .intro-admin__box-title {
  font-size: 1.4em;
  font-weight: 600;
}

.intro-admin_tours .intro-admin__box-actions {
  font-size: .9em;

  > *:not(:first-child) {
    margin-left: 1em;
  }
}

.intro-admin__box-tours .message {
  text-align: center;
  color: $muted-color;
}


.intro-admin__tours-table {
  width: 100%;

  th, td {
    padding: .5em .2em;
  }
}

.intro-admin__tours-table td {
  text-align: center;
}

.intro-admin__tours-table .ident-column {
  @include text-truncate;

  max-width: 10em;
}

.intro-admin__tours-table .simple-route-column {
  @include text-truncate;

  max-width: 18em;
}

.intro-admin__tours-item.expired {
  opacity: .4;
}