$shepherd-min-width: 320px;
$shepherd-max-width: 500px;
$shepherd-arrow-color: #fff;
$shepherd-header-arrow-color: #fcfcfc;
$shepherd-model-overlay-zindex: 99;
$shepherd-drop-shadow: drop-shadow(rgba(0, 0, 0, 0.2) 0px 1px 4px);
$shepherd-header-background: #fcfcfc;
$shepherd-header-border-color:#e4e7ed;
$shepherd-content-padding: .9em 1em;
$shepherd-button-background: grey;
$shepherd-button-text-color: #fff;
$shepherd-button-font-size: .84em;
$shepherd-secondary-button-background: transparent;
$shepherd-secondary-button-text-color: #7d8695;