.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy/.byebug_history
spec/dummy/public/uploads/
.byebug_history
*.gem
.idea
node_modules/
yarn-error.log