<!DOCTYPE html>
<html>
<head>
  <title>Intro</title>
  <%= stylesheet_link_tag    "intro/application", media: "all" %>
  <%= javascript_include_tag "intro/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
