@import '../../variables';

.intro-admin__form .field:not(:first-child) {
  margin-top: 1em;
}

.intro-admin__form {
  input, textarea {
    padding: .8em 1em;
    outline: none;
    border: 1px solid $border-color;
    width: calc(100% - 2em);
  }

  input:focus, textarea:focus {
    border: 1px solid $prime-color;
  }

  input[type="submit"] {
    color: white;
    background: $prime-color;
    cursor: pointer;
    border: none;

    &:hover {
      opacity: .8;
    }

    &.large {
      width: 100%;
    }
  }
}

.intro-admin__form .field.error .message {
  font-size: .85em;
  padding: .8em 1em;
  color: $error-color;
  background: rgba(245, 93, 84, .1);
  border: 1px solid rgba(245, 93, 84, .2);
}
