@import '../../variables';

.intro-admin__button {
  padding: .8em 1em;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: .85em;
  background-color: buttonface;
  color: buttontext;

  &:hover {
    opacity: .8;
  }

  &.prime {
    color: white;
    background: $prime-color;
  }

  &.large {
    width: 100%;
  }
}

.intro-admin__body a.intro-admin__button {
  color: buttontext;
}