$shepherd-root-font-size: 14px;
$shepherd-min-width: none;
$shepherd-max-width: 500px;
$shepherd-arrow-color: #fff;
$shepherd-header-arrow-color: #fcfcfc;
$shepherd-model-overlay-zindex: 99;
$shepherd-drop-shadow: drop-shadow(rgba(0, 0, 0, 0.2) 0px 1px 4px);
$shepherd-header-background: #fcfcfc;
$shepherd-header-border-color:#e4e7ed;
$shepherd-title-font-size: 1.1em;
$shepherd-cancel-link-font-size: 1.4em;
$shepherd-content-padding: .9em 1em;
$shepherd-content-font-size: 1em;
$shepherd-button-background: #f55d54;
$shepherd-button-text-color: #fff;
$shepherd-button-font-size: .84em;
$shepherd-secondary-button-background: transparent;
$shepherd-secondary-button-text-color: #7d8695;