$shepherd-model-overlay-zindex: 99;
$shepherd-min-width: 320px;
$shepherd-drop-shadow: drop-shadow(rgba(0, 0, 0, 0.2) 0px 1px 4px);
$shepherd-header-background: #fcfcfc;
$shepherd-header-border-color:#e4e7ed;